Estilos generales y colores en la paleta de blanco, gris y negro
body {
  font-family: "Segoe UI", Arial, sans-serif; /* Fuente más moderna */
  background-color: #f4f4f4; /* Un gris más suave para el fondo */
  margin: 0;
  padding: 0;
  color: #333; /* Color de texto un poco más oscuro para mejor contraste */
}

.container {
  padding: 20px;
  align-content: center;
}

.card {
  background-color: #fff;
  border: none; /* Quitar el borde para usar sombra */
  border-radius: 8px; /* Bordes más redondeados */
  padding: 20px;
  margin-bottom: 20px;
}

h1,
h2,
h3 {
  color: #333;
}

/* Ajustes adicionales para la tabla para alinear los botones */
table {
  text-align: center;
  vertical-align: middle; /* Centra el contenido verticalmente en las celdas */

  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
thead th {
  text-align: center; /* Centra el contenido horizontalmente en las celdas de encabezado */
}

.table {
  width: 100%; /* Asegura que la tabla ocupe todo el ancho disponible */
  text-align: center; /* Centra el contenido horizontalmente en la tabla */
}

.table td,
.table th {
  vertical-align: middle; /* Centra el contenido verticalmente en las celdas */
}

table,
th,
td {
  vertical-align: middle; /* Centra el contenido verticalmente en las celdas */

  text-align: center;
  align-content: center;

  border: 1px solid #ddd; /* Un borde más claro */
}

th,
td {
  padding: 12px 15px; /* Más espacio dentro de las celdas */
  text-align: left;
  vertical-align: middle; /* Alineación vertical para el contenido de las celdas */
}

th {
  text-align: center;
  background-color: #f9f9f9; /* Un gris más suave para el fondo del encabezado */
  border-bottom: 2px solid #ddd; /* Borde más definido debajo del encabezado */
}

.btn {
  background-color: #007bff; /* Azul de Bootstrap para botones */
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
  transition: background-color 0.2s;
  display: inline-block;
  margin: 0 2px;
  vertical-align: middle;
}

.btn:hover {
  background-color: #0056b3; /* Un azul más oscuro para el efecto hover */
}

.container.mt-5 {
  text-align: center;
  box-shadow: 2px 4px 10px #130505c6;
}

/* Estilos para el pie de página */
footer {
  background-color: #02094e;
  color: #fff;
  width: 100%;
  height: auto;
  position: fixed;
  left: 0px;
  bottom: 0px;
  font-family: Arial, sans-serif;
}
